.book-consultation-button {
  position: fixed;
  left: 0;
  top: 60%;
  transform: translateY(-50%) rotate(-90deg); /* Center vertically and rotate */
  transform-origin: 0 0; /* Set origin for rotation */
  background-color: #012c60; /* b,ue background */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  z-index: 1040; /* Below the modal, above other content */
  white-space: nowrap; /* Prevent text wrapping */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.book-consultation-button:hover {
  background-color: #ffffff; 
  color: black;/* Darker green on hover */
}

@media (max-width: 768px) {
  .book-consultation-button {
    top: auto;
    bottom: 20px; /* Position at the bottom for mobile */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    rotate: 0deg; /* Remove rotation for mobile */
    padding: 8px 15px;
    font-size: 0.9rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 480px) {
  .book-consultation-button {
    bottom: 15px;
    padding: 7px 12px;
    font-size: 0.85rem;
  }
} 